# Unity
/Katana/IndexingPerformanceReport
/Katana/Library
/Katana/Logs
/Katana/obj
/Katana/Temp
/Katana/UserSettings
/Katana/Assets/_Recovery
/Katana/Assets/Ignore
/Katana/Assets/Ignore.meta

# IDE
/Katana/.idea
/Katana/.zed
/Katana/.vs
/Katana/.vscode

# Misc
*.blend1
*.tmp
mono_crash.*
*.stackdump
*.log
!/rub.log
*.csproj
*.sln

# Builds
/Builds
