/Builds
/Katana/Library
/Katana/.idea
/Katana/Logs
/Katana/obj
/Katana/Temp
/Katana/UserSettings
/Katana/Assembly-CSharp.csproj
/Katana/Assembly-CSharp-Editor.csproj
/Katana/Katana.sln
/Katana/.vsconfig
/Katana/.vs
