[submodule "Katana/Assets/NnUtils"]
	path = Katana/Assets/NnUtils
	url = https://www.github.com/nnra6864/NnUtils
[submodule "SourceAssets"]
	path = SourceAssets
	url = https://git.NnStdios.xyz/NnStdios/KatanaSourceAssets
