# .editorconfig
root = true

[*.cs]
dotnet_naming_rule.namespace_rule.symbols = namespace
dotnet_naming_rule.namespace_rule.style = relative
dotnet_naming_rule.namespace_rule.severity = suggestion
csharp_new_line_before_open_brace = all

dotnet_diagnostic.IDE0130.severity = suggestion
