root = true

[*]
charset = utf-8
end_of_line = lf
tab_width = 4
indent_size = 4
indent_style = space
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# Suggests removing unused params
dotnet_style_unused_parameters = discard_variable:suggestion

# Suggests cleaner initialization, e.g:
#
# var person = new Person {
#     Name = "nn",
#     Age = 69
# };
#
# Instead of:
#
# var person = new Person();
# person.Name = "nn";
# person.Age = 69;
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion

# Suggests cleaner assignment, e.g:
#
# var color = isActive ? Color.green : Color.red;
#
# Instead of:
# Color color;
# if (isActive)
#     color = Color.green;
# else
#     color = Color.red;
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
